.searchResult{
    background-color: rgba(4, 170, 109, 0.5);
    padding: 14px;
    box-shadow: 0 4px 2px 2px rgba(217, 231, 226, 0.227);
    height: 700px;
    overflow-y: auto;
    width: 420px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}